spec/data/case04/account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="account">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="account" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="subpart">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="needed" type="xs:string"/>
            <xs:element name="anotherneed" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
